<form method='post' action='/registrations'>
  <label>Username:</label>
  <input type='username' placeholder='username'>
  <label>Email:</label>
  <input type='email' placeholder='email'>
  <label>Full name:</label>
  <input type='text' placeholder='text'>
  <label>Password:</label>
  <input type='password' placeholder='password'>
  <input type='submit' value='Register'>
</form>
