<h1>Welcome to Chitter</h1>
<%= flash[:notice] %>

<form method='get' action='registrations/new'>
  <input type='submit' value='Sign up'>
</form>

<% if session[:current_user_id] %>
  <form method='post' action='/peeps'>
    <label>Make a peep:</label>
    <input name='peep_text' type='text' placeholder='250 characters max'>
    <input type='submit' value='Post'>
  </form>
<% end %>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep %>
      <%= peep.created_at%>
    </li>
  <% end %>
</ul>
