<h1>Welcome to Chitter</h1>
<%= flash[:notice] %>

<form method='post' action='/peeps'>
  <label>Make a peep:</label>
  <input name='peep_text' type='text' placeholder='250 characters max'>
  <input type='submit' value='Post'>
</form>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.peep %>
      <%= peep.created_at%>
    </li>
  <% end %>
</ul>
